client/ios/InstaMelody/InstaMelody.xcodeproj/xcuserdata/abakir.xcuserdatad
client/ios/InstaMelody/InstaMelody.xcodeproj/project.xcworkspace/xcuserdata/abakir.xcuserdatad
api/Melodies.zip
api/InstaMelody/InstaMelody.API/bin/*
api/InstaMelody/InstaMelody.API/obj/*
api/InstaMelody/InstaMelody.Business/bin/*
api/InstaMelody/InstaMelody.Business/obj/*
api/InstaMelody/InstaMelody.Data/bin/*
api/InstaMelody/InstaMelody.Data/obj/*
api/InstaMelody/InstaMelody.Model/bin/*
api/InstaMelody/InstaMelody.Model/obj/*
api/InstaMelody/InstaMelody.Infrastructure/bin/*
api/InstaMelody/InstaMelody.Infrastructure/obj/*
api/InstaMelody/InstaMelody.Tests/bin/*
api/InstaMelody/InstaMelody.Tests/obj/*
api/InstaMelody/TestResults/*
client/ios/InstaMelody/InstaMelody.xcworkspace/xcuserdata/abakir.xcuserdatad/UserInterfaceState.xcuserstate
client/ios/InstaMelody/InstaMelody.xcworkspace/xcuserdata/abakir.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
