<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstaMelody.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InstaMelody.Business.Properties.Settings>
            <setting name="SaltLength" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="TempPasswordLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxFailedLogins" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="AdminAccessToken" serializeAs="String">
                <value>9126a407-41c5-461c-b164-1907af04c9d2</value>
            </setting>
            <setting name="MinutesFileUploadTokenIsActive" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BaseFileUploadFolder" serializeAs="String">
                <value>Uploads</value>
            </setting>
            <setting name="AudioFileUploadFolder" serializeAs="String">
                <value>Melodies</value>
            </setting>
            <setting name="ImageFileUploadFolder" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="VideoFileUploadFolder" serializeAs="String">
                <value>Videos</value>
            </setting>
            <setting name="UsersCanOnlyMessageFriends" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoopPartStartEffect" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="LoopPartStartEffectDuration" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="LoopPartEndEffect" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="LoopPartEndEffectDuration" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="LoopPartFirstStartEffect" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="LoopPartFirstStartDuration" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="SMTPMailHost" serializeAs="String">
                <value>104.130.230.164</value>
            </setting>
            <setting name="APNSDevCertificate" serializeAs="String">
                <value>InstaMelodyDev.p12</value>
            </setting>
            <setting name="APNSProdCertificate" serializeAs="String">
                <value>InstaMelodyDev.p12</value>
            </setting>
            <setting name="APNSDevCertPassword" serializeAs="String">
                <value>insta</value>
            </setting>
            <setting name="APNSProdCertPassword" serializeAs="String">
                <value>insta</value>
            </setting>
        </InstaMelody.Business.Properties.Settings>
    </applicationSettings>
</configuration>